<div class="col-md-10">
<% @subjects.each do |subject|%>
	<tr>
		<td><%= link_to "#{subject.title}",subject_notes_path(subject)%></td> 
		
	</tr>
	
<%end%>
</div>
<% @notes.each do |note|%>
<table class="table table=stripped">
	<tr>
		<th>Title</th>
		<td><%= note.title%></td>
	</tr>

	<tr>
		<th>Content</th>
		<td><%= note.content%></td>
	</tr>

		<div>
			<tr>
				<th>Attachment</th>
			</tr>
			<tr>
				<td><%= note.folder%></td>
			</tr>
		</div>

		<td><%= link_to "Detete", subject_note_path(@subject, note.id), method: :delete, data: {confirm: "Are you sure ?"}%></td>
	</tr>


	
		
	
	
<%end%>
</table>
